<p class="experience-title text-white text-4xl font-bold tracking-wider">
  Experience
</p>
<ul>
  <li>
    <div class="date">2018 - 2020</div>
    <div class="title">Mobile Application and Web Development (MAWD)</div>
    <div class="descr">STI College Recto (Senior High School)</div>
  </li>
  <li>
    <div class="date">2019</div>
    <div class="title">Mobile Application and Web Development (MAWD)</div>
    <div class="descr">Certificate of Recognition (With Honors)</div>
  </li>
  <li>
    <div class="date">2019 - 2020</div>
    <div class="title">Code Fest 2nd Place</div>
    <div class="descr">
      STI College Recto : Achieved second place in a coding contest during my
      senior high school, showcasing my problem-solving skills and technical
      proficiency. The competition spanned six hours, and my dedication to
      excellence in coding contributed to this rewarding achievement.
    </div>
  </li>
  <li>
    <div class="date">2023 - 2024</div>
    <div class="title">Capstone Project</div>
    <div class="descr">
      STI College Caloocan : As the sole programmer and leader in my group, I
      successfully completed the system for our capstone project titled "EWOS:
      ETONG WORKZ ORDERING SYSTEM WITH ANALYTICS, SALES, AND INVENTORY
      MONITORING SYSTEM."
    </div>
  </li>
  <li>
    <div class="date">2020 - 2024</div>
    <div class="title">
      Bachelor of Science in Information Technology (BSIT)
    </div>
    <div class="descr">STI College Caloocan (GWA-1.43 Cum Laude)</div>
  </li>
  <li>
    <div class="date">2024</div>
    <div class="title">Geoplan PH</div>
    <div class="descr">
      As an OJT Fullstack developer at Geoplan, I utilize Angular, Tailwind,
      NestJS, and PostgreSQL to create user interfaces. Collaboration with other
      developers and designers ensures a seamless user experience for three
      months.
    </div>
  </li>
  <li>
    <div class="date">2024</div>
    <div class="title">Geoplan PH</div>
    <div class="descr">
      After I finish my OJT for my school at Geoplan PH, the company absorb me
      to be an official employee as a fullstack developer and i lasted three
      months.
    </div>
  </li>
  <li>
    <div class="date">2024 August 12</div>
    <div class="title">Accenture</div>
    <div class="descr">Software Engineer Associate</div>
  </li>
</ul>
