<div>
  <p class="certTitle text-white text-4xl font-bold tracking-wider">Certificates</p>
  <div class="display flex justify-around sm:border-1-2 z-30 h-[30rem]">
    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img src="../../assets/images/certificates/Certificate of Recognition.pptx.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/sap.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js1.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js2.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js3.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js4.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js5.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js6.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js7.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js8.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js9.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js10.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js11.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js12.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js13.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js14.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/Database Foundation.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/engineering.png" alt="image_certificate" />
        </div>

        <div class="slide">
          <img src="../../assets/images/certificates/Certificate of Recognition.pptx.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/sap.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js1.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js2.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js3.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js4.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js5.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js6.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js7.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js8.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js9.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js10.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js11.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js12.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js13.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/js14.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/Database Foundation.png" alt="image_certificate" />
        </div>
        <div class="slide">
          <img src="../../assets/images/certificates/engineering.png" alt="image_certificate" />
        </div>
      </div>
    </div>
  </div>
</div>
