<div>
  <p class="skills-title text-white text-4xl font-bold tracking-wider">
    Skills
  </p>
  <mat-tab-group class="h-[27rem] border-x-2 border-[#ff9900]">
    <mat-tab label="Skills">
      <div class="display flex justify-around sm:border-1-2 z-30">
        <div class="slider2">
          <div class="slide-track2">
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/angularjs.png"
                  alt="angularjs"
                />
                <p class="skills-title">Angular</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/nolan/100/tailwind_css.png"
                  alt="tailwind_css"
                />
                <p class="skills-title">Tailwind</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/plasticine/100/000000/react.png"
                  alt="react"
                />
                <p class="skills-title">React</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/nestjs.png"
                  alt="nestjs"
                />
                <p class="skills-title">Nestjs</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/bootstrap--v2.png"
                  alt="bootstrap--v2"
                />
                <p class="skills-title">Bootstrap</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/stickers/100/css3.png"
                  alt="css3"
                />
                <p class="skills-title">CSS</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/dusk/100/php-logo.png"
                  alt="php-logo"
                />
                <p class="skills-title">PHP</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/html-5--v1.png"
                  alt="html-5--v1"
                />
                <p class="skills-title">HTML</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/sass.png"
                  alt="sass"
                />
                <p class="skills-title">Sass</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/typescript--v1.png"
                  alt="typescript--v1"
                />
                <p class="skills-title">typescript</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/javascript--v1.png"
                  alt="javascript--v1"
                />
                <p class="skills-title">Javascript</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/java-coffee-cup-logo--v1.png"
                  alt="java-coffee-cup-logo--v1"
                />
                <p class="skills-title">Java</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/nolan/100/c-sharp-logo.png"
                  alt="c-sharp-logo"
                />
                <p class="skills-title">C#</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/python--v1.png"
                  alt="python--v1"
                />
                <p class="skills-title">Python</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/mysql-logo.png"
                  alt="mysql-logo"
                />
                <p class="skills-title">MySQL</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/maria-db.png"
                  alt="maria-db"
                />
                <p class="skills-title">MariaDB</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/postgreesql.png"
                  alt="postgreesql"
                />
                <p class="skills-title">PostgreSQL</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/node-js.png"
                  alt="node-js"
                />
                <p class="skills-title">NodeJS</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/firebase.png"
                  alt="firebase"
                />
                <p class="skills-title">Firebase</p>
                <p></p>
              </div>
            </div>

            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/angularjs.png"
                  alt="angularjs"
                />
                <p class="skills-title">Angular</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/nolan/100/tailwind_css.png"
                  alt="tailwind_css"
                />
                <p class="skills-title">Tailwind</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/plasticine/100/000000/react.png"
                  alt="react"
                />
                <p class="skills-title">React</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/nestjs.png"
                  alt="nestjs"
                />
                <p class="skills-title">Nestjs</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/bootstrap--v2.png"
                  alt="bootstrap--v2"
                />
                <p class="skills-title">Bootstrap</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/stickers/100/css3.png"
                  alt="css3"
                />
                <p class="skills-title">CSS</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/dusk/100/php-logo.png"
                  alt="php-logo"
                />
                <p class="skills-title">PHP</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/html-5--v1.png"
                  alt="html-5--v1"
                />
                <p class="skills-title">HTML</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/sass.png"
                  alt="sass"
                />
                <p class="skills-title">Sass</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/typescript--v1.png"
                  alt="typescript--v1"
                />
                <p class="skills-title">typescript</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/javascript--v1.png"
                  alt="javascript--v1"
                />
                <p class="skills-title">Javascript</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/java-coffee-cup-logo--v1.png"
                  alt="java-coffee-cup-logo--v1"
                />
                <p class="skills-title">Java</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/nolan/100/c-sharp-logo.png"
                  alt="c-sharp-logo"
                />
                <p class="skills-title">C#</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/python--v1.png"
                  alt="python--v1"
                />
                <p class="skills-title">Python</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/mysql-logo.png"
                  alt="mysql-logo"
                />
                <p class="skills-title">MySQL</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/maria-db.png"
                  alt="maria-db"
                />
                <p class="skills-title">MariaDB</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/postgreesql.png"
                  alt="postgreesql"
                />
                <p class="skills-title">PostgreSQL</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/node-js.png"
                  alt="node-js"
                />
                <p class="skills-title">NodeJS</p>
                <p></p>
              </div>
            </div>
            <div class="slide2">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/firebase.png"
                  alt="firebase"
                />
                <p class="skills-title">Firebase</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Others">
      <div class="display flex justify-around sm:border-1-2 z-30">
        <div class="slider3">
          <div class="slide-track3">
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/figma.png"
                  alt="figma"
                />
                <p class="skills-title">Figma</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/material-outlined/100/github.png"
                  alt="github"
                />
                <p class="skills-title">Github</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/git.png"
                  alt="git"
                />
                <p class="skills-title">Git</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/dusk/100/postman-api.png"
                  alt="postman-api"
                />
                <p class="skills-title">Postman</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/android-studio--v3.png"
                  alt="android-studio--v3"
                />
                <p class="skills-title">Android Studio</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/sap.png"
                  alt="sap"
                />
                <p class="skills-title">SAP</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/cute-clipart/100/react-native.png"
                  alt="react-native"
                />
                <p class="skills-title">React Native</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/fluency/100/figma.png"
                  alt="figma"
                />
                <p class="skills-title">Figma</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/material-outlined/100/github.png"
                  alt="github"
                />
                <p class="skills-title">Github</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/git.png"
                  alt="git"
                />
                <p class="skills-title">Git</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/dusk/100/postman-api.png"
                  alt="postman-api"
                />
                <p class="skills-title">Postman</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/android-studio--v3.png"
                  alt="android-studio--v3"
                />
                <p class="skills-title">Android Studio</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/color/100/sap.png"
                  alt="sap"
                />
                <p class="skills-title">SAP</p>
                <p></p>
              </div>
            </div>
            <div class="slide3">
              <div class="skills">
                <img
                  width="100"
                  height="100"
                  src="https://img.icons8.com/cute-clipart/100/react-native.png"
                  alt="react-native"
                />
                <p class="skills-title">React Native</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
