<div class="bioContainer">
  <div class="grid grid-cols-2 gap-0 mx-40">
    <div class="Images relative">
      <img
        src="../../assets/images/avatars.png"
        alt="avatar"
        class="h-auto w-[450px] mx-auto block rounded-[50rem] border-8 border-[#FF9900]"
      />
      <div class="iconImages">
        <a href="https://www.facebook.com/jv.23.empleo">
          <img src="../../assets/images/icons8-fb-64.png" alt="social-logo" />
        </a>
        <a href="https://www.instagram.com/empleojv/">
          <img
            src="../../assets/images/icons8-instagram-64.png"
            alt="social-logo"
          />
        </a>
        <a href="https://github.com/EmpleoJv">
          <img
            src="../../assets/images/icons8-github-64.png"
            alt="social-logo"
          />
        </a>
        <a href="https://x.com/EmpleoJv23">
          <img
            src="../../assets/images/icons8-twitterx-64.png"
            alt="social-logo"
          />
        </a>
        <a href="https://www.linkedin.com/in/jayvee-empleo-67ba202b0/">
          <img src="../../assets/images/icons8-in-64.png" alt="social-logo" />
        </a>
      </div>
    </div>
    <div class="biography w-full h-full">
      <div>
        <p class="biographyTitle text-white text-4xl font-bold tracking-wider">
          Biography
        </p>
        <p class="text-white text-justify">
          I'm a Freelancer Front-end Developer with over 3 years of experience.
          I'm from San Francisco. I code and create web elements for amazing
          people around the world. I like work with new people. New people new
          Experiences.
        </p>
        <p class="text-white text-justify">
          I'm a Freelancer Front-end Developer with over 3 years of experience.
          I'm from San Francisco. I code and create web elements for amazing
          people around the world. I like work with new people. New people new
          Experiences.
        </p>
        <div class="infoBio flex justify-between">
          <ul>
            <li class="mb-6">Name:<span>Jayvee Empleo</span></li>
            <li>Birthday:<span>8th Feb 2001</span></li>
          </ul>
          <ul>
            <li class="mb-6">Age:<span>23</span></li>
            <li>Email:<span>empleojv28@gmail.com</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
