<div class="flex">
  <div>
    <app-aside></app-aside>
  </div>
  <div class="static w-screen h-screen ml-0 sm:ml-52 overflow-y-scroll">
    <div id="home-section" class="h-screen">
      <app-home></app-home>
    </div>
    <div class="px-48">
      <app-bio id="bio-section"></app-bio>
      <hr class="style-eight" />
      <app-what-i-do id="bio-whatIDo"></app-what-i-do>
      <hr class="style-eight" />
      <app-certificate id="whatIDo-section"></app-certificate>
      <hr class="style-eight" />
      <app-skills id="skills-section"></app-skills>
      <hr class="style-eight" />
      <app-experience id="experience-section"></app-experience>
      <hr class="style-eight" />
    </div>
  </div>
</div>
