<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-52 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-800">
    <ul class="font-medium">
      <h4 class="text-gray-300 font-semibold">LINKS</h4>
      <li>
        <a
          href="#home-section"
          class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
        >
          <mat-icon>home</mat-icon>
          <span class="ms-3">Home</span>
        </a>
      </li>
      <li>
        <a
          href="#bio-section"
          class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
        >
          <mat-icon>person_book</mat-icon>
          <span class="ms-3">Biography</span>
        </a>
      </li>
      <li>
        <a
          href="#whatIDo-section"
          class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
        >
          <mat-icon>draw</mat-icon>
          <span class="ms-3">Certificate</span>
        </a>
      </li>
      <li>
        <a
          href="#skills-section"
          class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
        >
          <mat-icon>checklist_rtl</mat-icon>
          <span class="ms-3">Skills</span>
        </a>
      </li>
      <li>
        <a
          href="#experience-section"
          class="flex items-center p-1 font-bold text-white rounded-lg hover:text-black hover:bg-gray-100 group"
        >
          <mat-icon>sports_score</mat-icon>
          <span class="ms-3">Experience</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
