<div class="mainDashboard h-full px-0 sm:px-32">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 gap-8 sm:p-36 p-5 place-items-center"
  >
    <div class="mt-20 sm:mt-20">
      <p class="hello text-white sm:text-3xl text-xl">👋 Hello, My Name is</p>
      <p id="name" class="text-white text-5xl sm:text-9xl">Jayvee</p>
      <p id="myElement" class="text-white text-xl sm:text-2xl">
        Hello
        <span *ngFor="let char of message">{{ char }}</span>
      </p>
      <p class="hello text-white text-xl sm:text-2xl">
        I design and develop services for customers of all sizes, specializing
        in creating stylish, modern websites, web applications.
      </p>
    </div>
    <div class="sm:block hidden">
      <img
        src="../../assets/images/avatars.png"
        alt="avatar"
        class="h-auto w-[450px] rounded-[6rem]"
      />
    </div>
  </div>
</div>
