@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
.mainDashboard {
  #name {
    font-family: "Protest Strike", sans-serif;
  }
  #myElement {
    display: inline-block;
    overflow: hidden; /* Ensure text doesn't overflow its container */
  }

  #myElement span {
    display: inline-block;
    opacity: 0; /* Initially hide each character */
    animation: fadeIn 0.5s linear forwards; /* Use CSS animation to fade in each character */
  }
}
.mainDashboard:hover {
  background-size: 105%;
}
