<div>
  <p class="biographyTitle text-white text-4xl font-bold tracking-wider">What I do?</p>
  <div class="flex flex-wrap justify-center gap-2 mx-20">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div>
            <img class="w-10 mb-5" src="../../assets/images/icons8-devices-64.png" alt="icons" />
            <p class="text-white text-2xl">Web Design</p>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-[whitesmoke] text-justify">{{ web }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div>
            <img class="w-10 mb-5" src="../../assets/images/icons8-workspace-64.png" alt="icons" />
            <p class="text-white text-2xl">Full-Stack Web Developer</p>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-[whitesmoke] text-justify">{{ full }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <div>
            <img class="w-10 mb-5" src="../../assets/images/icons8-coder-64.png" alt="icons" />
            <p class="text-white text-2xl">Freelancer</p>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="text-[whitesmoke] text-justify">{{ freelancer }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
  </div>
</div>
